<body>
  <div>
    Please Enter Oil Name: <input type="text" [(ngModel)]="productName">
  </div>
  <div>
    Please Enter Oil Description: <input type="text" [(ngModel)]="productDesc">
  </div>
  <div>
    Please Enter Oil Uses: <input type="text" [(ngModel)]="productUses">
  </div>
  <div>
    Please Enter Oil Benefits: <input type="text" [(ngModel)]="productBenefits">
  </div>

  <button type="button" mat-raised-button (click)="confirm()">Confirm</button>
  <button type="button" mat-raised-button (click)="cancel()">Cancel</button>

</body>